.todoListStyle:nth-child(4n+3) {
    background-color: lightseagreen;
}
.todoListStyle:nth-child(4n+2) {
    background-color: lightgoldenrodyellow;
}
.todoListStyle:nth-child(4n+1) {
    background-color: lightsalmon;
}
.todoListStyle:nth-child(4n+0) {
    background-color: lightpink;
}
