.Todo {

    display: flex;
    justify-content: space-between;

    width: 80%;
    margin: 15px auto;

    border-radius: 8px;
    box-shadow: 5px 5px 10px grey;

    line-height: 1.2rem;

    transition: all .5s;

    background-color: white;

    -webkit-animation: fadeOut 500ms;
    -moz-animation: fadeOut 500ms;
    animation: fadeOut 500ms;
}

.Todo:hover {
    box-shadow: 7px 7px 10px grey;
    translate: 0 -0.2rem;
}


.description {
    display: flex;
    flex-direction: column;
    margin: 2rem 0 1.3rem 2rem;
    row-gap: 1.2rem;  
}


.description p {
    font-size: 0.9rem;
}

.buttons {
    display:flex;
    gap: 0.7rem;
    align-items: center;
    margin-right: 2.2rem;
}

.bin svg:hover{
    color: rgb(203, 34, 34);
}

.check svg:hover{
    color: green
}

.buttons input[type="checkbox"] {
    width: 1.2rem;
    height: 1.2rem;
    appearance: none;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
    background-color: rgb(210, 40, 40);
    border-radius: 50%;
    vertical-align: middle;
    border: 0.1rem solid rgb(59, 59, 59);
}

.buttons input[type="checkbox"]:checked {
    background-image: linear-gradient(60.88deg,rgb(32, 185, 32) 40%, rgb(49, 113, 49) 30%, rgb(66, 179, 66) 10%);
}

.buttons input[type="checkbox"]:hover {
    border: 0.12rem solid rgb(0, 0, 0);
}

