.addButton {
    margin-bottom: 3rem;
  }
  
  .addButton button {
    
    background-image: linear-gradient(92.88deg, #455EB5 9.16%, #5643CC 43.89%, #673FD7 64.72%);
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    height:2.5rem;
    padding: 0.2rem 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  } 
  
  .addButton button:hover {
    translate: 0 -0.3rem;
    box-shadow: 5px 5px 10px grey;
  }
  
  .addButton input {
    border-radius: 8px 0 0 8px;
    border: none;
    height:2.5rem;
    padding: 1rem 2rem;
    font-weight: 500;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
  }

  .addButton input:focus {
    outline:none;
  }
  
  .clear {
    background-image: linear-gradient(92.88deg, #ff4bd8 9.16%, #cc436a 43.89%, #d73f4c 64.72%) !important;
    border-radius: 0 8px 8px 0;
  }